@{
    ViewBag.Title = "About";
}

<h1><a href="https://localhost:44340/Student/Create">Add New Student</a> <br /></h1>
<h1><a href="https://localhost:44340/Tetcher/Create">Add New Tetcher </a> <br /></h1>
<h1><a href="https://localhost:44340/Course/Create">Add New Course </a> <br /></h1>
