
@{
    ViewBag.Title = "Index";
}

<h2>Students Informations</h2>


@model List<SchoolWebApp.Models.Student>
<head>
    <style>
        td {
            text-align: center;
            padding: 8px;
            background-color: #f2f2f2;
        }

        th {
            text-align: center;
            padding: 8px;
            background-color: #f2f2f2;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }
    </style>
</head>
<table>
    <thead>
        <tr>
            <th>ID </th>
            <th>FirstName </th>
            <th>LastName </th>
            <th>Address </th>
            <th>Delete </th>
            <th>Details </th>
            <th>Update </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var student in Model)
        {
            <tr>
                <td>@student.ID</td>
                <td>@student.FirstName</td>
                <td>@student.LastName</td>
                <td>@student.Address</td>
                <td><a href="/Student/Delete/@student.ID"> Delete </a></td>
                <td><a href="/Student/Details/@student.ID"> Details </a></td>
                <td><a href="/Student/Update/@student.ID"> Update </a></td>
            </tr>

        }
    </tbody>
</table>
